# Server
PORT=8082

# Database MySQL
DB_HOST=mysql
DB_PORT=3306
DB_USER=useremoney
DB_PASSWORD=Password#123
DB_NAME=pasarmalam

# JWT
JWT_SECRET=pasarmalam-super-secret-jwt-key-change-this
JWT_EXPIRY_HOURS=168

# Firebase (sama dengan dompet-digital)
FIREBASE_CREDENTIALS_PATH=/app/firebase_service_account.json
FIREBASE_API_KEY=AIzaSyCeX2ynEOQDy-0-DCMt5BkjTn1Dzfm7Opg
